{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-8 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="header-title mb-0">Temperatures</h4>
                    <select class="custome-select border-0 pr-3">
                        <option selected>Last 30 Days</option>
                        <option value="0">Today</option>
                    </select>
                </div>
                <div id="verview-shart"></div>
            </div>
        </div>
    </div>

        <!-- Live Crypto Price area start -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Device Power State</h4>
                    <div class="cripto-live mt-5">
                        <ul>
                            <li> <i class="fa fa-heartbeat" style='color:orange;'></i> Node-0001<span><i class="fa fa-clock-o"></i>Running</span></li>
                            <li> <i class="fa fa-heartbeat" style='color:orange;'></i> Node-0002<span><i class="fa fa-clock-o" style='color:red;'></i>Stop</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>








{% endblock %}

{% block js %}
<script language="javascript">
/*--------------  overview-chart start ------------*/
if ($('#verview-shart').length) {
    var myConfig = {
        "type": "line",

        "scale-x": { //X-Axis
            //"labels": ["0", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100"],
            "label": {
                "font-size": 14,
                "offset-x": 0,
            },
            "item": { //Scale Items (scale values or labels)
                "font-size": 10,
            },
            "guide": { //Guides
                "visible": false,
                "line-style": "solid", //"solid", "dotted", "dashed", "dashdot"
                "alpha": 1
            }
        },
        "plot": { "aspect": "spline" },
        "series": {{chart_values|safe }},
    };

    zingchart.render({
        id: 'verview-shart',
        data: myConfig,
        height: "100%",
        width: "100%"
    });
}

/*--------------  overview-chart END ------------*/

</script>
{% endblock %}
